/* Untuk Tablets */
@media (max-width: 1000px) {
    header h1 {
      font-size: 32px;
    }
    
    .container h2 {
      font-size: 20px;
    }
  }
  
  /* Untuk Smartphones */
  @media (max-width: 670px) {
    header {
        height: 100px;
    }
    footer {
      text-align: center;
    }
    
    .btn {
      width: 100%;
    }
    
    .top-wrapper {
      text-align: center;
    }
  }
  
