@media (max-width: 670px) {
    footer {
        text-align: center;
    }
    .btn {
        width: 100%;

    }
    .top-wrapper {
        text-align: center;
        padding-top: 130px;
      }
    .btn-wrapper {
        width: 100%;
        padding-bottom: 50px;
    }
    .btn {
        margin-bottom: 20px;
        text-align: center;
        align-items: center;
    }
    .container h1 {
        font-size: 30px;
    }
}
